{{ form_start(form) }}

  {{ form_widget(form) }}
   


<div class="row">
    <div class="col text-right">
     <button class="btn btn-light"><i class="fa fa-save" title="Ajouter"></i></button>
    </div>
</div>


{{ form_end(form) }}
