{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('category/_form.html.twig', {'trans_key': 'form.edit'}) }}

    <a href="{{ path('category_index') }}">{{ 'form.back.to.list' |trans }}</a>
{% endblock %}
